.container {
}

.cnt {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-content__primary {
  display: flex;
  justify-content: space-between;
}

.left-cnt {
  width: 70%;
}

.left-cnt a {
  text-decoration: none;
  color: #000;
}

.right-cnt {
  width: 25%;
}

.large-article {
  margin-bottom: 20px;
}

.large-article__img {
  width: 100%;
  height: 320px;
  max-height: 320px;
  margin-bottom: 20px;
  background-color: #F9F9F9;
}

.large-article__img img {
  width: 100%;
  height: auto;
}

.large-article__title {
  font-size: 22px;
  margin-bottom: 20px;
}

.medium-article-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.medium-article {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.medium-article a {
  text-decoration: none;
  color: #000;
  width: 48%;
}

.medium-article__img {
  width: 100%;
  margin-bottom: 20px;
}

.medium-article__img img {
  width: 100%;
  height: 100%;
}

.medium-article__title {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
}

.small-article-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.small-article {
  width: 32%;
  margin-bottom: 15px;
}

.small-article__img {
  width: 100%;
  height: 180px;
  max-height: 180px;
  margin-bottom: 20px;
  background-color: #F9F9F9;
}

.small-article__img img {
  width: 100%;
  height: auto;
}

.small-article__title {
  font-size: 18px;
  margin-bottom: 15px;
}

.crypto-wrap {
  display: flex;
  justify-content: space-between;
}

.crypto-logo-wrap {
  min-width: 35px;
}

.crypto-info-wrap {
  width: 100%;
}

.crypto-logo-item {
  font-size: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  height: 60px;
}

.crypto-logo-item img {
  width: 32px;
  height: 32px;
}

.crypto-info-item {
  font-size: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  height: 60px;
  padding-left: 15px;

}

.crypto-info-item:nth-child(odd),
.crypto-logo-item:nth-child(odd) {
  background: #fafafa;
}

.section-title {
    font-size: 30px;
    margin-bottom: 30px;
}

.single-page-img img {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.single-page-title {
  font-size: 28px;
  margin-bottom: 5px;
}

.single-page-date {
  font-size: 16px;
  margin-bottom: 5px;
}

.single-page-indent {
  font-size: 19px;
  margin-bottom: 20px;
}

.subscribe-block {
  margin-top: 45px;
  padding: 20px 8px 15px 8px;
  background: #fafafa;
}

.subscribe-block__title {
  color: #27C861;
  font-size: 14px;
  margin-bottom: 15px;
}

.subscribe-block__wrap {
  position: relative;
}

.subscribe-block__email {
  width: 100%;
  height: 32px;
  outline: none;
  background: #fff;
  padding-left: 8px;
  border: 1px solid #E8E8E8;
}

.subscribe-block__btn {
  position: absolute;
  outline: none;
  border: none;
  top: 8px;
  right: 13px;
  background: url("img/subscribe-arrow.png") no-repeat center;
}

.most-recent {
  margin-top: 65px;
}

.most-recent a {
  text-decoration: none;
  color: #000;
}

.most-recent .medium-article__img {
  display: none;
}

.most-recent .medium-article__title {
  padding-top: 10px;
  border-top: 1px solid #D9D9D6;
  font-size: 16px;
  margin-bottom: -5px;
}

.most-recent .medium-article__description {
  margin-bottom: 12px;
  font-size: 10px;
  color: #BFBFBF;
}

.most-recent__title {
  font-size: 16px;
  color: #28C760;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

.paginator {
  position: relative;
  border-bottom: 1px solid #E8E8E8;
  height: 60px;
  background: url("img/paginator-bg.png") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 40px;
}

.also-wrap {
  justify-content: flex-start;
  margin-bottom: 40px;
}

.also-wrap a {
  width: 30%;
  margin-right: 3%
}

.also-wrap a:last-child {
  margin-right: 0;
}

.also-title {
  font-size: 16px;
  color: #28C760;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
}

.left-cnt__banner {
  width: 816px;
  height: 160px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: url("img/trading-banner.jpg") no-repeat center;
}

.show-more-btn {
  cursor: pointer;
  top: 45px;
  position: absolute;
  background: white;
  border: 1px solid #E8E8E8;
  color: #B5B5B5;
  width: 100px;
  border-radius: 3px;
  height: 30px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

@media (max-width: 850px) {
  .main-content__primary {
    display: block;
  }

  .left-cnt {
    width: 100%;
  }

  .right-cnt {
    width: 100%;
  }
  
  .main-content {
    width: 100% !important;
  }

  .single-page-indent {
    font-size: 18px;
  }

  .small-article-wrap {
    margin-bottom: 20px;
  }

  @media (max-width: 550px) {
    .medium-article__title {
      font-size: 12px;
    }
  }
}