.container {
}

.cnt {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-content__primary {
  display: flex;
  justify-content: space-between;
}

.left-cnt {
  width: 70%;
}

.left-cnt a {
  text-decoration: none;
  color: #000;
}

.right-cnt {
  width: 25%;
}

.large-article {
  margin-bottom: 20px;
}

.large-article__img {
  width: 100%;
  height: 320px;
  max-height: 320px;
  margin-bottom: 20px;
  background-color: #F9F9F9;
}

.large-article__img img {
  width: 100%;
  height: auto;
}

.large-article__title {
  font-size: 22px;
  margin-bottom: 20px;
}

.medium-article-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.medium-article {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.medium-article a {
  text-decoration: none;
  color: #000;
  width: 48%;
}

.medium-article__img {
  width: 100%;
  margin-bottom: 20px;
}

.medium-article__img img {
  width: 100%;
  height: 100%;
}

.medium-article__title {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
}

.small-article-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.small-article {
  width: 32%;
  margin-bottom: 15px;
}

.small-article__img {
  width: 100%;
  height: 180px;
  max-height: 180px;
  margin-bottom: 20px;
  background-color: #F9F9F9;
}

.small-article__img img {
  width: 100%;
  height: auto;
}

.small-article__title {
  font-size: 18px;
  margin-bottom: 15px;
}

.crypto-wrap {
  display: flex;
  justify-content: space-between;
}

.crypto-logo-wrap {
  min-width: 35px;
}

.crypto-info-wrap {
  width: 100%;
}

.crypto-logo-item {
  font-size: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  height: 60px;
}

.crypto-logo-item img {
  width: 32px;
  height: 32px;
}

.crypto-info-item {
  font-size: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  height: 60px;
  padding-left: 15px;

}

.section-title {
    font-size: 30px;
    margin-bottom: 30px;
}

.single-page-img img {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.single-page-title {
  font-size: 30px;
  margin-bottom: 5px;
}

.single-page-date {
  font-size: 16px;
  margin-bottom: 5px;
}

.single-page-indent {
  font-size: 20px;
}

@media (max-width: 850px) {
  .main-content__primary {
    display: block;
  }

  .left-cnt {
    width: 100%;
  }

  .right-cnt {
    width: 100%;
  }
  
  .main-content {
    width: 100% !important;
  }

  .single-page-indent {
    font-size: 18px;
  }

  .small-article-wrap {
    margin-bottom: 20px;
  }

  @media (max-width: 550px) {
    .medium-article__title {
      font-size: 12px;
    }
  }
}